@media screen and (min-width: 768px) and (max-width: 992px){

   body, html{
    background-image: linear-gradient(to bottom, #5f2c92, #49a09d);
   }
   .login{
       width: 80vw; 
       height: 290px;
   }
    .login > .imagem{
        display: block;
        float: left;
        width: 200px;
        height: 36vh;
        background-position: left center;
    }
    .formulario{
        
    }
    .formulario > h1{
        text-align: center;
        padding-bottom: 10px;
    }
    .formulario > p{
        font-size: 1em;
        margin: 10px;
    }

   form > input[type=submit]{
        width: 477px;
   }
}

@media screen and (min-width:992px){
    body, html{
        background-image: linear-gradient(to bottom, #5f2c92, #49a09d);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .login{
        width: 990px; 
        height: 40vh;
    }

    .login > .imagem{
        background-position: right center;
        float: right;
        width: 500px;
        height: 40vh;
    }

    .formulario > h1{
        font-size: 2em;
    }

    .formulario > p{
        font-size: 1.2em;
        margin: 10px;
    }
}