@charset "UTF-8";

/*
Paleta de Cores
verde: #49a09d
lilás: #5f2c92
*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c92;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    
}

.login{
    position: absolute;
    left: 50%;
    top: 50%;

    background-color: #ffffff;
    border-radius: 20px;
    width: 250px;
    height: 545px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50% ,-50%);
}

.login > .imagem{
    display: block;
    background: #5f2c92 url('../imagens/fundo.jpg') no-repeat;
    background-size: cover;
    height: 200px;
}
.formulario{
    padding: 10px;
}
.formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.formulario > p{
    font-size: 0.9em;
    margin: 10px;
}
form > div.campo{
    display: block;
    background-color: #5f2c92;
    border-radius: 8px;
    padding: 7px;
    height: 40px;
    margin: 5px 0px;
}

form > div.campo > span{
    color: #ffffff;
    font-size: 2em;
}

.campo > input{
    padding: 4px;
    margin-left: 35px;
    font-size: 1em;
    width: calc(100% - 30px);
    height: 100%;
    padding-top: 20px;
    padding-bottom: 16px;
    border: 0px;
    background-color: #6dcecb;
    border-radius: 8px ;
    transform: translateY(-41px);
}

.campo > input:focus-within{
    background-color: #ffffff;
}


form > input[type=submit]{
    display: block;
    font-size: 1em;
    background-color: #49a09d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    align-items: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

form > input:hover[type=submit]{
    background-color: #357c7a;
}

form > .botao{
    display: block;
    font-size: 1em;
    background-color: #ffffff;
    color: #356866;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #357c7a;
    border-radius: 7px;
    
}
form > .botao > span{
    font-size: 0.8em;
}
form > .botao:hover{
    background-color: #08ada88f;
}